USE [master]
GO
/****** Object:  Database [pp3_tp1]    Script Date: 30/3/2023 20:48:10 ******/
CREATE DATABASE [pp3_tp1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pp3_tp1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\pp3_tp1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pp3_tp1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\pp3_tp1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pp3_tp1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pp3_tp1]
GO
/****** Object:  Table [dbo].[tbl_Roles]    Script Date: 30/3/2023 20:48:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Roles](
	[id_rol] [int] NOT NULL,
	[descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Usuarios]    Script Date: 30/3/2023 20:48:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[rol_usuario] [int] NULL,
	[nombre_completo] [varchar](255) NULL,
	[correo_electronico] [varchar](255) NULL,
	[contrasena] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_Roles] ([id_rol], [descripcion]) VALUES (0, N'admin')
INSERT [dbo].[tbl_Roles] ([id_rol], [descripcion]) VALUES (1, N'basico')
GO
SET IDENTITY_INSERT [dbo].[tbl_Usuarios] ON 

INSERT [dbo].[tbl_Usuarios] ([id_usuario], [rol_usuario], [nombre_completo], [correo_electronico], [contrasena]) VALUES (1, 0, N'admin uno', N'admin@hotmail.com', N'admin')
SET IDENTITY_INSERT [dbo].[tbl_Usuarios] OFF
GO
ALTER TABLE [dbo].[tbl_Usuarios]  WITH CHECK ADD FOREIGN KEY([rol_usuario])
REFERENCES [dbo].[tbl_Roles] ([id_rol])
GO
USE [master]
GO
