

    <div class="formulario container text-center" style="margin-top: 30px;">
        
        <h1 style="text-align: center; margin: 30px;">Bienvenido {{user.Nombre}}</h1>
        
        <div class="col">
            <button name="logout" type="button" onclick="alert('deslogear')" class="btn btn-danger mb-3">Cerrar sesion</button>
        </div>

    </div>

    <script src="main.js"></script>
